@value variables: "../../variables.css";
@value mainColor from variables;


.container {
    box-sizing: border-box;
    width: 50%;
    min-width: 800px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow-wrap: break-word;
}

.hat {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.author {
    display: inline-block;
    margin-right: 20px;
}

.date {
    display: inline-block;
}

.name {
    padding: 20px;
    font-size: 40px;
    font-weight: 400;
}

.text {
    padding: 20px;
}

.footer {
    padding: 20px;
    overflow: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.likeContainer {
    float: right;
}

.likeContainerActive {
    composes: likeContainer;
    color: mainColor;
}

.likeButtonActive {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s all;
    line-height: 45px;
    text-align: center;
}

.likeButtonActive:hover {
    color: mainColor;
}

.likeButtonActive:active {
    animation: gradient 100ms;
}

.likeButtonDisabled {
    composes: likeButtonActive;
}

.likeButtonDisabled:hover {
    color: initial;
}

.likeButtonDisabled:active {
    animation: none;
}

.likeCount {
    display: inline-block;
    font-size: 20px;
}

.readButton {
    float: left;
    height: 40px;
    width: 100px;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: 0.3s all;
}

.readButton:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

@keyframes gradient {
    0% { background: radial-gradient(circle at center, rgba(255, 0, 0, 0.2) 0%, #fff 0%, #fff 100%); }
    25% { background: radial-gradient(circle at center, rgba(255, 0, 0, 0.2) 20%, #fff 0%, #fff 100%); }
    50% { background: radial-gradient(circle at center, rgba(255, 0, 0, 0.2) 40%, #fff 0%, #fff 100%); }
    75% { background: radial-gradient(circle at center, rgba(255, 0, 0, 0.2) 60%, #fff 0%, #fff 100%); }
    100% { background: radial-gradient(circle at center, rgba(255, 0, 0, 0.2) 70%, #fff 0%, #fff 100%); }
}

@media(max-width: 1024px) {
    .container {
        width: 100%;
        min-width: initial;
        border-radius: initial;
    }
}
